useDynLib(tea)
#import(methods, graphics, stats, survey, Rapophenia, RSQLite, MASS, nnet, gam, multicore)
import(Rapophenia, RSQLite, MASS, nnet, gam, multicore, MCMCpack, tree)
exportPattern("^[^\\.]")
export(mcmc.mnl,mcmc.reg,teasrmi,tea.tree,tea.grove)
S3method(summary, tea)
