useDynLib(tea)
#import(methods, graphics, stats, survey, Rapophenia, RSQLite, MASS, nnet, gam, multicore)
import(Rapophenia, RSQLite, MASS, nnet, gam, multicore, MCMCpack)
exportPattern("^[^\\.]")
S3method(summary, tea)
